.HeroSection {
  inline-size: 100%;
  block-size: 600px;

  display: flex;

  position: relative;

  background-image: url('src/assets/hero-desktop.jpeg');
  background-size: 1600px 700px;
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

/*****************************Header**********************************************/

.HeroSection header {
  inline-size: 100%;
  block-size: 100px;

  padding-inline-start: 40px;

  display: flex;
  align-items: center;

  position: absolute;

  z-index: 10;
}
.HeroSection header .Logo {
  inline-size: 100px;
  block-size: 60px;

  flex-shrink: 0;

  background-color: rgb(32, 32, 32);

  mask-image: url('src/assets/IMG-20231011-WA0010.png');
  mask-size: 200%;
  mask-position: center;
  mask-repeat: no-repeat;
}

.HeroSection header nav {
  inline-size: 100%;
  block-size: 100%;

  margin-inline-start: 80px;
}

.HeroSection header nav ul {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  gap: 32px;
  align-items: center;
  list-style-type: none;
}

.HeroSection header nav ul li {
  inline-size: 140px;
  block-size: 40px;

  padding: 4px;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  text-align: center;
  font-size: 16px;

  cursor: pointer;
}

.HeroSection header nav ul li .Adorno {
  inline-size: 80px;
  block-size: 50px;

  position: absolute;
  bottom: -24px;
  left: 52px;

  background-color: rgb(53, 55, 56);

  mask-image: url('src/assets/adorno-rama-uno.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100%;

  transform: rotateY(180deg) rotateZ(20deg);
}

.HeroSection header nav ul li .Adorno:nth-of-type(1) {
  top: -24px;
  left: 0px;

  transform: rotateX(0deg) rotateZ(20deg);
}

.HeroSection header nav ul li:nth-of-type(3) .Adorno:nth-of-type(1) {
  top: -24px;
  left: -36px;

  transform: rotateX(0deg) rotateZ(20deg);
}

.HeroSection header nav ul li:nth-of-type(3) .Adorno:nth-of-type(2) {
  left: auto;
  right: -36px;
}
/*************************************Content************************************/

.HeroSection .BackdropFilter {
  inline-size: 100%;
  block-size: 100%;
  position: absolute;

  z-index: 1;

  backdrop-filter: blur(0px) brightness(125%);
}
.HeroSection .TitleContainer {
  padding-inline-start: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
  z-index: 2;

  backdrop-filter: blur(1px);
}
.HeroSection .TitleContainer h1 {
  font-size: 60px;
  font-weight: bold;

  margin-block-end: 4px;

  color: rgb(176, 121, 27);
  line-height: 60px;

  text-transform: uppercase;
}

.HeroSection .TitleContainer h2 {
  display: flex;

  font-size: 32px;
  font-weight: bold;

  color: rgb(77, 70, 57);
  line-height: 40px;
}

.HeroSection .TitleContainer h2 .SpanContainer {
  margin-inline-start: 4px;
  inline-size: 80px;

  position: relative;
}

.HeroSection .TitleContainer h2 .SpanContainer:nth-of-type(1) {
  margin-inline-end: 48px;
}

.HeroSection .TitleContainer h2 .SpanContainer:nth-of-type(1) .Adorno {
  inline-size: 80px;
  block-size: 50px;

  position: absolute;
  bottom: -24px;
  left: 52px;

  background-color: rgb(25, 87, 106);

  mask-image: url('src/assets/adorno-rama-uno.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100%;

  transform: rotateY(180deg) rotateZ(20deg);
}

.HeroSection .TitleContainer h2 .SpanContainer:nth-of-type(2) .Adorno {
  inline-size: 120px;
  block-size: 50px;

  position: absolute;
  bottom: -12px;
  left: 100px;

  background-color: rgb(25, 87, 106);

  mask-image: url('src/assets/adorno-rama-dos.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100%;

  transform: rotateZ(-50deg);
}

.HeroSection .TitleContainer h2 .SpanContainer span {
  position: absolute;

  color: rgb(25, 87, 106);
}

.HeroSection .TitleContainer .CallToActionContainer {
  inline-size: 180px;
  margin-block-start: 20px;

  position: relative;
}

.HeroSection .TitleContainer .CallToActionContainer .CallToAction {
  inline-size: 180px;
  block-size: 60px;

  font-size: 22px;
  font-weight: 600;
  border-radius: 8px;
  color: rgb(53, 55, 56);
  /* background-color: rgb(59, 38, 14); */

  border: 4px solid rgb(53, 55, 56);
}

.HeroSection .TitleContainer .CallToActionContainer .Adorno {
  inline-size: 80px;
  block-size: 50px;

  position: absolute;
  bottom: -20px;
  right: -46px;

  background-color: rgb(53, 55, 56);

  mask-image: url('src/assets/adorno-rama-uno.svg');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100%;

  transform: rotateY(180deg) rotateZ(20deg);
}

.HeroSection .TitleContainer .CallToActionContainer .Adorno:nth-of-type(1) {
  top: -24px;
  left: -43px;

  transform: rotateX(0deg) rotateZ(20deg);
}
/*******************Animations***********************************/
.slide-up-two-enter-active,
.slide-up-two-leave-active {
  transition: all 0.5s ease-out;
}

.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.5s ease-out;
}

.slide-up-enter-from,
.slide-up-two-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-up-leave-to,
.slide-up-two-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}
