.ActualCollectionSection {
  block-size: 400px;

  display: flex;
  justify-content: flex-end;

  gap: 40px;
  position: relative;

  overflow: hidden;
}

.ActualCollectionSection .BackgroundContainer {
  inline-size: 100%;
  block-size: 100%;

  position: absolute;
  z-index: -1;
}

.ActualCollectionSection .BackgroundContainer .Background {
  inline-size: 2024px;
  block-size: 2024px;

  position: absolute;

  opacity: 1;
  scale: 2;

  border-start-start-radius: 50%;
  border-end-start-radius: 50%;

  transform-origin: right;

  z-index: 1;
}

.ActualCollectionSection .BackgroundContainer .Background.After {
  z-index: 5;
}

.ActualCollectionSection .BackgroundContainer .Background.Animate {
  animation-name: scale;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  z-index: 10;
}

.ActualCollectionSection .BackgroundContainer .Background.One {
  background-color: rgb(33 43 32);
}

.ActualCollectionSection .BackgroundContainer .Background.Two {
  background-color: rgb(180 183 178);
}

.ActualCollectionSection .BackgroundContainer .Background.Three {
  background-color: #b0aa92;
}

.ActualCollectionSection .Adorno {
  block-size: 600px;

  inline-size: 320px;

  position: absolute;
  left: -175px;
  bottom: -100px;

  background-color: rgb(49 70 53);

  mask-image: url('src/assets/patron-fondo-coleccion.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  transform: rotateZ(90deg);

  transition: all ease-in-out 1s;
}

.ActualCollectionSection:has(.BackgroundContainer.Two) .Adorno {
  background-color: rgb(128, 134, 125);
}
.ActualCollectionSection:has(.BackgroundContainer.Three) .Adorno {
  background-color: #7e7a64;
}

.ActualCollectionSection .Content {
  inline-size: 400px;

  margin-block-start: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.ActualCollectionSection .Content h3 {
  font-size: 38px;

  color: #9b701a;

  transition: all ease-in-out 1s;
}

.ActualCollectionSection:has(.BackgroundContainer.Two) .Content h3 {
  color: #2b4a39;
}

.ActualCollectionSection:has(.BackgroundContainer.Three) .Content h3 {
  color: #26353f;
}

.ActualCollectionSection .Content p {
  margin-block-start: 12px;
  font-size: 20px;

  color: #6b8172;
  transition: all ease-in-out 1s;
}

.ActualCollectionSection:has(.BackgroundContainer.Two) .Content p {
  color: #3b413e;
}

.ActualCollectionSection:has(.BackgroundContainer.Three) .Content p {
  color: #3b413e;
}

.ActualCollectionSection .Content .Button {
  inline-size: 60px;
  block-size: 60px;
  border-radius: 100%;
  border: 2px solid #866014;

  position: relative;
  top: -12px;

  color: #866014;
  transition: all ease-in-out 1s;
}

.ActualCollectionSection:has(.BackgroundContainer.Two) .Content .Button {
  border: 2px solid #2b4a39;

  color: #2b4a39;
}

.ActualCollectionSection:has(.BackgroundContainer.Three) .Content .Button {
  border: 2px solid #26353f;

  color: #26353f;
}

.ActualCollectionSection .ActualCollectionImageContainer {
  block-size: 100%;
  inline-size: 712px;
  position: relative;
}
.ActualCollectionSection .ActualCollectionImage {
  block-size: 100%;
  inline-size: 712px;

  position: absolute;

  background-image: url('src/assets/actual-collection-image.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 120px center;
}

.ActualCollectionSection .ActualCollectionImage.Two {
  right: -120px;

  background-image: url('src/assets/actual-collection-image-two.jfif');
  background-position: -120px center;
  background-size: 120%;
}
.ActualCollectionSection .ActualCollectionImage.Three {
  right: -120px;

  background-image: url('src/assets/actual-collection-image-three.jfif');

  background-position: -120px center;
  background-size: 120%;
}
/****************************Animation***********************************/

@keyframes scale {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1.5;
    opacity: 1;
  }
}
