.ActualCollectionSection {
  block-size: 400px;

  display: flex;
  justify-content: flex-end;

  gap: 40px;
  position: relative;

  overflow: hidden;
}

.ActualCollectionSection .BackgroundContainer {
  inline-size: 100%;
  block-size: 100%;

  position: absolute;
  z-index: -1;
}

.ActualCollectionSection .BackgroundContainer .Background {
  inline-size: 2024px;
  block-size: 2024px;

  position: absolute;

  opacity: 1;
  scale: 2;

  border-start-start-radius: 50%;
  border-end-start-radius: 50%;

  transform-origin: right;

  z-index: 1;
}

.ActualCollectionSection .BackgroundContainer .Background.After {
  z-index: 5;
}

.ActualCollectionSection .BackgroundContainer .Background.Animate {
  animation-name: scale;
  animation-duration: 800ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;

  z-index: 10;
}

.ActualCollectionSection .BackgroundContainer .Background.One {
  background-color: rgb(33 43 32);
}

.ActualCollectionSection .BackgroundContainer .Background.Two {
  background-color: rgb(180 183 178);
}

.ActualCollectionSection .BackgroundContainer .Background.Three {
  background-color: #b0aa92;
}

.ActualCollectionSection .Adorno {
  block-size: 600px;

  inline-size: 320px;

  position: absolute;
  left: -175px;
  bottom: -120px;

  background-color: rgb(49 70 53);

  mask-image: url('src/assets/patron-fondo-coleccion.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;

  transform: rotateZ(90deg);
}

.ActualCollectionSection .Content {
  inline-size: 400px;

  margin-block-start: 40px;
}

.ActualCollectionSection .Content h3 {
  font-size: 32px;

  color: #9b701a;
}

.ActualCollectionSection .Content p {
  font-size: 18px;

  color: #6b8172;
}
.ActualCollectionSection .ActualCollectionImageContainer {
  block-size: 100%;
  inline-size: 712px;
  position: relative;
}
.ActualCollectionSection .ActualCollectionImage {
  block-size: 100%;
  inline-size: 712px;

  position: absolute;

  background-image: url('src/assets/actual-collection-image.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 120px center;
}

.ActualCollectionSection .ActualCollectionImage.Two {
  right: -120px;

  background-image: url('src/assets/actual-collection-image-two.jfif');
  background-position: -120px center;
  background-size: 120%;
}
.ActualCollectionSection .ActualCollectionImage.Three {
  right: -120px;

  background-image: url('src/assets/actual-collection-image-three.jfif');

  background-position: -120px center;
  background-size: 120%;
}
/****************************Animation***********************************/

@keyframes scale {
  from {
    scale: 0;
    opacity: 0;
  }
  to {
    scale: 1.5;
    opacity: 1;
  }
}
