.CubanStoresSection {
  block-size: 720px;

  position: relative;

  background-image: url('src/assets/cuban-stores-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.CubanStoresSection .BackdropFilter {
  inline-size: 100%;
  block-size: 100%;

  position: absolute;

  background-color: rgba(0, 0, 0, 0.822);
  mix-blend-mode: overlay;
  backdrop-filter: blur(3px) grayscale(100%) contrast(40%);
}

.CubanStoresSection .CubanStoresSectionContainer {
  inline-size: 100%;
  block-size: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 40px;

  position: relative;

  z-index: 2;
}

.CubanStoresSection .CubanStoresSectionContainer .SectionTitleContainer {
  inline-size: 720px;
  block-size: 320px;
  text-align: start;

  display: flex;
}

.CubanStoresSection
  .CubanStoresSectionContainer
  .SectionTitleContainer
  .Content {
  inline-size: 70%;
}

.CubanStoresSection
  .CubanStoresSectionContainer
  .SectionTitleContainer
  .Content
  h3 {
  color: rgb(213, 186, 127);
  font-size: 40px;
}

.CubanStoresSection
  .CubanStoresSectionContainer
  .SectionTitleContainer
  .Content
  p {
  color: rgb(192, 184, 168);
  font-size: 18px;
}

.CubanStoresSection
  .CubanStoresSectionContainer
  .SectionTitleContainer
  .ButtonList {
  inline-size: 30%;
  block-size: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.CubanStoresSection
  .CubanStoresSectionContainer
  .SectionTitleContainer
  .ButtonList
  .Button {
  inline-size: 200px;
  block-size: 48px;

  position: relative;

  border: 3px solid rgb(179, 179, 179);
  border-radius: 8px;

  color: white;
  font-size: 12px;
}

.CubanStoresSection
  .CubanStoresSectionContainer
  .SectionTitleContainer
  .ButtonList
  .Button::after {
  inline-size: 80px;
  block-size: 80px;
  content: '';

  position: absolute;

  right: -52px;
  top: -56px;

  background-color: rgb(244, 244, 244);

  mask-image: url('src/assets/adorno-rama-uno.svg');
  mask-repeat: no-repeat;
  mask-size: contain;

  transform: rotateY(180deg) rotateX(180deg) rotateZ(20deg);
}

.CubanStoresSection .CubanStoresSectionContainer .ImagesContainer {
  position: relative;
  block-size: 60%;

  inline-size: 300px;

  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: 1fr 1fr;

  gap: 20px;
}

.CubanStoresSection
  .CubanStoresSectionContainer
  .ImagesContainer:nth-of-type(1)
  .Image {
  inline-size: 100%;
  block-size: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  border-radius: 12px;

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.183);
}

.CubanStoresSection
  .CubanStoresSectionContainer
  .ImagesContainer:nth-of-type(1)
  .Image:nth-of-type(1) {
  grid-row: 1/3;

  background-image: url('src/assets/cuban-stores-one.jpg');

  filter: grayscale(10%);
}

.CubanStoresSection
  .CubanStoresSectionContainer
  .ImagesContainer:nth-of-type(1)
  .Image:nth-of-type(2) {
  background-image: url('src/assets/cuban-stores-two.jpg');

  filter: grayscale(50%);
}

.CubanStoresSection
  .CubanStoresSectionContainer
  .ImagesContainer:nth-of-type(1)
  .Image:nth-of-type(3) {
  background-image: url('src/assets/cuban-stores-three.jpg');

  filter: grayscale(50%);
}
